fastapi
uvicorn
sqlalchemy[asyncio]
aiosqlite
asyncpg
alembic
pydantic
pydantic-settings
python-jose[cryptography]
bcrypt>=4.0.0
python-multipart
python-docx
latex2mathml
email-validator
starlette
openai
redis
aiosmtplib
requests
reportlab
lxml

