fastapi
uvicorn
sqlalchemy[asyncio]
aiosqlite
asyncpg
alembic
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-docx
latex2mathml
email-validator
starlette
openai
redis
aiosmtplib
requests

